body {
    margin: 0;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    background-color: #333;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li:hover {
    color: yellow;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    height: 400px;
    background: linear-gradient(to right, #5DADE2, #48C9B0);
    color: white;
    text-align: center;
    padding-top: 100px;
}

.hero h1 {
    font-size: 45px;
}

.hero p {
    font-size: 20px;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    background-color: white;
    color: #333;
    border-radius: 5px;

    transition: transform 0.3s, background-color 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    background-color: yellow;
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.card {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;

    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #aaa;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}



